.hugs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.hugs-button{
    background-color: #00BCD4;
    border-radius: 5px;
    border: 1px solid #FF5722;
    outline: none;
    transition: 0.5s;
}
.hugs-button:hover{
    box-shadow: 3px 3px 3px #FF5722;
    transition: 0.5s;
}
