.call{
    width: 188px;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.call-text-us{
    font-size: 14px;

    margin: 0 0 2px 0;
}
.call-text-phone{
    font-size: 18px;
    margin: 0;
}
